/*
 *
 * MMM-Chuck-Norris
 *
 * By Todd Santoro https://github.com/toddsantoro/ https://toddsantoro.com/
 * MIT Licensed.
 *
 * Customize your css module here
 *
 */
.chuck-norris-fact {
  font-size: 20px;
  font-weight: 300;
  padding: 0;
}
